<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <a href="#"><h1>Food</h1></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <a href="#"><h1>Shelter</h1></a>
      </div>
      <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
    <div class="row text-center">
      <a href="#"><h1>Thanksgiving Soup Kitchens</h1></a>
    </div>
  </div>
</div>
